<div class="container mt-5">
    <h1 class="mt-4">Admin</h1>
    <p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/logout" class="btn btn-secondary">Logout</a>    
    <h2 class="mt-4">Sessions</h2>
    <table class="table table-striped">
      
        <thead>
            <tr>
                <th>SessionID</th>
                <th>UserID</th>
                <th>Actions</th>
            </tr>
        </thead>

        
        <% sessions.forEach(session => { %>
            <tr>
              <td><%= session.SessionID %></td>
              <td><%= session.UserID %></td>
              <td>
                <form action="/destroy/<%= session.SessionID %>" method="post">
                  <button type="submit" class="btn btn-secondary">Revoke</button>
                </form>
              </td>
            </tr>

          <% }) %>
          
        
</div>